<div class="col-md-6 offset-md-3">
    <h3> Create Doctor </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Name</label>
            <input type="text" class ="form-control" id = "Name"
                [(ngModel)] = "doctor.name" name = "Name">
        </div>
        <div class="form-group">
            <label> Age</label>
            <input type="number" class ="form-control" id = "age"
                [(ngModel)] = "doctor.age" name = "age">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <div>
                <input id="Male" type="radio" value="Male" [(ngModel)] = "doctor.gender" name="gender" >
                <label for="Male">Male </label>
                <input id="Female" type="radio" value="Female" [(ngModel)] = "doctor.gender" name="gender">
                <label for="Female">Female</label>
            </div>
            </div>
            <div class="form-group">
                <label> Specialist</label>
                <input type="text" class ="form-control" id = "specialist"
                    [(ngModel)] = "doctor.specialist" name = "specialist">
            </div>
            <div class="form-group">
                <label> Patients attended</label>
                <input type="number" class ="form-control" id = "patients"
                    [(ngModel)] = "doctor.numberOfPatients" name = "patients">
            </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    </form>
    </div>