<div className="App">
    <header class="header">
      <div class="navbar-area">
        <div class="container">
    <div class="row align-items-center">
    <section id="home" class="hero-section">
      <div class="hero-shape">
        <img src="assets/img/hero/hero-shape.svg" alt="" class="shape" />
      </div>
      <div class="container">
       
                <h4 style="text-align: center"> Doctor Info</h4>
                <div class="table-wrapper">
                  <span>Please  choose doctor</span> 
                  <select class="hideLabel form-control" [(ngModel)]="doctId" name="Id" (change)="selectName(doctId);">  
                    <option selected="" value=""></option>  
                 <option [ngValue]="k.id" *ngFor="let k of doctors">  
                     {{k.name}}  
              </option>  
         </select> 
         <div *ngIf="doctorflag">
                  <table class="fl-table">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Speciality</th>
                        <th>Patient Attended</th>
                        <!-- <th>Delete</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ doctorinfo.id }}</td>
                        <td>{{ doctorinfo.name }}</td>
                        <td>{{ doctorinfo.age }}</td>
                        <td>{{ doctorinfo.gender }}</td>
                        <td>{{ doctorinfo.specialist }}</td>
                        <td>{{ doctorinfo.numberOfPatients }}</td>
                        
                       
  
                         <!-- <td class="text-center"><button class="btn btn-danger btn-xs btn-left-mr" (click)="deleteDoctor(doctorinfo.doctId)" ><span class="glyphicon glyphicon-remove" ></span> Delete</button></td> -->
                      </tr>
                    </tbody>
  
                    <tbody></tbody>
                  </table>
                  
                  </div>
                </div>
                <button type="submit" (click)="back()">Back</button>
              </div>
              
  
         
    </section>
  </div>
  
  
  