<div className="App">
  

  <section id="home" class="hero-section">
    <div class="hero-shape">
      <img src="assets/img/hero/hero-shape.svg" alt="" class="shape" />
    </div>
    <div style="text-align: center">
      <h3 style="color: brown;">{{message}}</h3>
  </div>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="hero-content">

            <form >
              <div class="  text-center ">
                  <h1 >Patient Registration </h1>
              </div>
              <fieldset>
                 

                  <div class="form-group">
                      <label for="Name"><span class="req"> </span><strong> Name</strong>: </label>
                      <input required type="text" [(ngModel)]="patient.name"  name="patientName" id="patientName"
                          class="form-control phone" maxlength="28" placeholder="Enter FullName" />
                  </div>
                  <div class="form-group">
                      <label for="dateOfVisit"><span class="req"> </span><strong> Date of Visit </strong>:</label>
                      <input required type="date" [(ngModel)]="patient.dateOfVisit"  name="dateOfVisit" id="dateOfVisit"
                          class="form-control phone" maxlength="28" placeholder="Enter Consulatation Date" />
                  </div>
                  <div class="form-group">
                      <label for="visitedDoctor"><span class="req"> </span><strong>Select Vistited Doctor </strong>:</label>

                      <select class="hideLabel form-control" [(ngModel)]="patient.visitedDoctor" name="Id" (change)="selectName(patient.doctorId);">  
                        <option selected="" value=""></option>  
                     <option [ngValue]="k.name" *ngFor="let k of doctors">  
                         {{k.name}}  
                  </option>  
             </select> 
                      
                  </div>
                  <div class="form-group">
                      <label for="precription"><span class="req"> </span><strong> Prescription </strong>:</label>
                      <input required type="text" [(ngModel)]="patient.prescription"  name="precription" id="precription"
                          class="form-control phone" maxlength="28" placeholder="Enter Speciality ofdoctor" />
                  </div>

                  <div class="form-group">
                      <label for="doctId"><span class="req"></span> <strong>Doctors Id:</strong>  </label>
                      <input class="form-control" type="number"[(ngModel)]="patient.doctorId"   name="doctId" id="doctId" required
                          placeholder="Enter Doctor's ID" />
                      
                  </div>

                  <div class="form-group">
                      <input class="btn btn-success " type="submit" name="submit_reg" value="Register" (click)="registerPatNow()" >
                  </div>
              </fieldset>
          </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
            <img src="assets/img/hero/dochero.png" style="height: 100vh;" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>